<div class="row clearfix">
  <h3>upload load the patient records</h3>
  <div class="col-md-4 column"></div>
    <div class="col-md-8 column">
      <form role="form" method="post" enctype="multipart/form-data">
        <div class="checkbox">
          <label><input name="jsonfile" type="radio" />JSON file</label>
        </div>
        <div class="form-group">
           <label for="exampleInputFile">File input</label><input name="upload_file" type="file" id="exampleInputFile" />
          <p class="help-block">
            Example block-level help text here.
          </p>
        </div>
         <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
    <div class="col-md-4 column"></div>
  </div>
