<div class="row clearfix">
  <div class="col-md-12 column">
    <div class="row clearfix">
      <div class="col-md-2 column">
      </div>
      <div class="col-md-8 column">
        <div class="jumbotron">
         <a href="/patient/new" class="btn btn-lg active btn-block">Register Patient</a>
       </div>
      </div>
      <div class="col-md-2 column">
      </div>
    </div>

  </div>
</div>
<div class="row clearfix">
  <div class="col-md-12 column">
    <div class="row clearfix">
      <div class="col-md-2 column">
      </div>
      <div class="col-md-8 column">
        <div class="jumbotron">
          <a href="/login" class="btn btn-lg active btn-block">Manage Patient</a>
        </div>
      </div>
      <div class="col-md-2 column">
      </div>
    </div>

  </div>
</div>
