	<div class="row clearfix">
    <div class="col-md-12 column">
      <form class="form-inline" role="search">
        <div class="form-group">
          <input type="text" name="searchterm" class="form-control">
        </div> <button type="submit" class="btn btn-default">seach</button>
      </form>
    </div>
		<div class="col-md-12 column">

			<table class="table table-hover">
				<thead>
					<tr>

						<th>
							First Name
						</th>
						<th>
							Last Name
						</th>
						<th>
							Email
						</th>
            <th>
              Created Time
            </th>
            <th>
              Mobile
            </th>
            <th>
              Doctor
            </th>
						<th>
							action
						</th>
					</tr>
				</thead>
				<tbody>
          <% count = 0 %>
          <% @patients.each do |patient| %>
					<tr class="<%= count%2 == 0 ? 'active': '' %> ">
						<td>
							<a href="/patient/<%= patient[:_id] %>" ><%= patient[:first_name] %></a>
						</td>
						<td>
              <%= patient[:last_name] %>
						</td>
						<td>
              <%= patient[:email] %>
						</td>
						<td>
              <%= patient[:age] %>
						</td>
            <td>
              <%= patient[:mobile] %>
            </td>
            <td>
              <%= patient[:doctor] %>
            </td>
						<td>
							<a href="/patient/<%= patient[:_id] %>/delete">delete</a>
						</td>
					</tr>
          <% count = count+1 %>
          <% end %>

				</tbody>
			</table>
		</div>
	</div>
