<div class="row clearfix">
        <div class="col-md-4 column">
        </div>
        <div class="col-md-4 column">
          <form role="form" method="post" action="/login">
            <div class="form-group">
               <label for="exampleInputEmail1">Username</label><input name="username" type="text" class="form-control" id="exampleInputEmail1" />
            </div>
            <div class="form-group">
               <label for="exampleInputPassword1">Password</label><input name="password" type="password" class="form-control" id="exampleInputPassword1" />
            </div>

            <div class="checkbox">

            </div> <button type="submit" class="btn btn-default">Submit</button>
          </form>
        </div>
        <div class="col-md-4 column">
        </div>
      </div>
