
<div class="row clearfix">
  <div class="col-md-2 column">
  </div>
  <div class="col-md-8 column">
    <form role="form" class="form-inline" method="post" action="/patient/new">
      <div class="form-group">
        <label for="exampleInputEmail1">First Name</label><input name="first_name" type="text" class="form-control" id="exampleInputEmail1" />
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Last Name</label><input name="last_name" type="text" class="form-control" id="exampleInputPassword1" />
      </div>
    </br>
    <div class="form-group">
      <label for="exampleInputEmail1">Age</label><input type="text" name="age" class="form-control" id="exampleInputEmail1" />
    </div></br>
    <div class="form-group">
      <label for="exampleInputPassword1">Mobile</label><input type="text" name="mobile" class="form-control" id="exampleInputPassword1" />
    </div></br>
    <div class="form-group">
      <label for="exampleInputEmail1">Email</label><input type="text" name="email" class="form-control" id="exampleInputEmail1" />
    </div></br>
    <div class="form-group">
      <label for="exampleInputPassword1">Address #1</label><input type="text" name="address_1" class="form-control" id="exampleInputPassword1" />
      <label for="exampleInputPassword1">Address #2</label><input type="text" name="address_2" class="form-control" id="exampleInputPassword1" />
    </div>
   </br>
   <div class="form-group">
     <label for="exampleInputEmail1">City</label><input type="text" name="city" class="form-control" id="exampleInputEmail1" />
   </div>
   </br>
   <div class="form-group">
     <label for="exampleInputEmail1">Date</label><input type="date" name="date" class="form-control" id="exampleInputEmail1" />
   </div>
   <div class="form-group">
     <label for="exampleInputPassword1">Consulting Doctor</label>

     <select class="form-control" id="exampleInputPassword1" name="doctor">
     <% doctor_list.each do |x,y| %>
     <option value="<%= x %>"><%= y %></option>

     <% end %>
     </select>
   </div></br>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
  <div class="col-md-2 column">
  </div>
</div>
