<style>
.form-group-d {
display: inline-block;

margin-right: 5%;
vertical-align: middle;
}

.patientinfo {
  padding: 10px;
}
.patientinfo .form-group{
  margin-right: 5%;
  margin-bottom: 10px;

}
#diseaseSec {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
  padding: 10px;
  border-radius: 4px;
  margin:1px;
  margin-bottom:5px;

}
</style>
<div class="row clearfix" ng-app="patientinfo" ng-controller="patientinfoCtrl">
  <div class="col-md-2 column">
  </div>
  <div class="col-md-8 column">
    <form role="form" class="form-inline patientinfo" >
      <div class="form-group">
        <label for="exampleInputEmail1">First Name</label><input ng-model="patient.first_name" type="text" class="form-control" id="exampleInputEmail1" />
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Last Name</label><input ng-model="patient.last_name" type="text" class="form-control" id="exampleInputPassword1" />
      </div>
    </br>
    <div class="form-group">
      <label for="exampleInputEmail1">Age</label><input type="text" ng-model="patient.age" class="form-control" id="exampleInputEmail1" />
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Mobile</label><input type="text" ng-model="patient.mobile" class="form-control" id="exampleInputPassword1" />
    </div></br>
    <div class="form-group">
      <label for="exampleInputEmail1">Email</label><input type="text" ng-model="patient.email" class="form-control" id="exampleInputEmail1" />
    </div></br>
    <div class="form-group">
      <label for="exampleInputPassword1">Address #1</label><input type="text" ng-model="patient.address_1" class="form-control" id="exampleInputPassword1" />
      <label for="exampleInputPassword1">Address #2</label><input type="text" ng-model="patient.address_2" class="form-control" id="exampleInputPassword1" />
    </div>
   </br>
   <div class="form-group">
     <label for="exampleInputEmail1">City</label><input type="text" ng-model="patient.city" class="form-control" id="exampleInputEmail1" />
   </div>
   </br>
   <div class="form-group">
     <label for="exampleInputEmail1">Date</label><input type="text" ng-model="patient.date" class="form-control" id="exampleInputEmail1" />
   </div>
   <div class="form-group">
     <label for="exampleInputPassword1">Consulting Doctor</label>
     <select class="form-control" id="exampleInputPassword1" ng-model="patient.doctor">
       <% doctor_list.each do |x,y| %>
       <option value="<%= x %>"><%= y %></option>

       <% end %>
     </select>
   </div></br>
   <div class="form-group">
     <a ng-click="updaterecord()" href="#" class="btn btn-default">Update Patient</a>
 </div>
    </form>

    <div id="diseaseSec" ng-repeat="disease in patient.diseases">
      <button ng-click="removeDisease(disease)" type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
     <h3>Record {{ $index+1 }}</h3>
      <div class="form-group form-group-d" ng-repeat="(key,value) in disease">
        <label for="exampleInputEmail1">{{ key | customlabel }}</label>

        <input type="text" ng-model="disease[key]" class="form-control" id="exampleInputEmail1" />
      </div>
      <div class="form-group">
        <a ng-click="addField(patient.diseases[$index])" href="#" class="btn btn-default">Add Field</a>
      </div>


    </br ng-show="$index%2 == 0">
    </div>
  </div>
  <div class="col-md-2 column">

    <a ng-click="addDisease()" href="#" class="btn btn-default">Add Disease</a>

    <div class="modal fade" id="add-disease" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title" id="myModalLabel">
              Add Disease
            </h4>
          </div>
          <div class="modal-body">
            <form role="form" class="form-inline" >
            <div class="form-group">
              <label for="exampleInputEmail1">Disease Symptom</label>
              <input type="text" ng-model="new_disease.symptom" class="form-control" id="exampleInputEmail1" />
            </div>

            </br>
            <div class="form-group">
              <label for="exampleInputEmail1">Detected Disease</label>
              <input type="text" ng-model="new_disease.detected_disease" class="form-control" id="exampleInputEmail1" />
            </div></br>
            <div class="form-group">
              <label for="exampleInputEmail1">Prescription</label>
              <input type="text" ng-model="new_disease.prescription" class="form-control" id="exampleInputEmail1" />
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Reports Attachments</label>
              <input type="text" ng-model="new_disease.reports_attachments" class="form-control" id="exampleInputEmail1" />
            </div></br>

            <div class="form-group">
              <label for="exampleInputEmail1">Cured (yes/no)</label>
              <input type="text" ng-model="new_disease.cured" class="form-control" id="exampleInputEmail1" />
            </div>
            </br>
            <div class="form-group">
              <label for="exampleInputEmail1">Doctor Consulted</label>
              <input type="text" ng-model="new_disease.consulted_doctor" class="form-control" id="exampleInputEmail1"  />
            </div>
          </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" ng-click="saveDiease(new_disease)" class="btn btn-primary">Save changes</button>
          </div>
        </div>

      </div>

    </div>
    <div class="modal fade" id="add-disease-field" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title" id="myModalLabel">
              Add Field
            </h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="exampleInputEmail1">label</label>
              <input type="text" ng-model="new_field.label" class="form-control" id="exampleInputEmail1" />
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">value</label>
              <input type="text" ng-model="new_field.value" class="form-control" id="exampleInputEmail1" />
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" ng-click="saveField(new_field)"class="btn btn-primary">Add Field</button>
          </div>
        </div>

      </div>

    </div>
  </div>

</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.8/angular.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
<script>

var patient_id = "<%= @id %>";
var app = angular.module('patientinfo',[]);
app.filter("customlabel",function(){

  return function(input){

     var str = input.split('_')
     var output = '';
     _.each(str,function(x){

     x = x[0].toUpperCase()+x.substring(1);

     output += x
     output += " "

     });

    return output;

  };


});
app.controller('patientinfoCtrl',function($scope,datasrc,$interval){




  var response_clean = function(data){

    data.diseases = JSON.parse(data.diseases);
    return data;
  };





datasrc.get(patient_id).success(function(data){

  $scope.patient = data[0];

  $scope.patient.diseases = $scope.patient.diseases || [];



  /*$scope.$watch("patient",function(){


    $scope.updaterecord();

  },true);*/




  //debugger;
});








$scope.updaterecord = function(){

  datasrc.update($scope.patient).success(function(data){

    $scope.patient = data[0];
    alert("patient info was updated successful");

  });
};
//},5000);


$scope.addDisease = function(){
  $('#add-disease').modal('show');
$scope.new_disease = {};

//debugger;
};



$scope.saveDiease = function(new_disease){

  if(!_.isArray($scope.patient.diseases)){
    $scope.patient.diseases = []
  }

  $scope.patient.diseases.push(new_disease);

  $scope.new_disease = {};

  $('#add-disease').modal('hide');
  $scope.updaterecord();

};



$scope.removeDisease = function(disease){
  $scope.patient.diseases = _.without($scope.patient.diseases,disease);
  $scope.updaterecord();
};

$scope.addField = function(disease){
  $('#add-disease-field').modal('show');
  $scope.selected_disease = disease;
  $scope.new_field = {};


};

$scope.saveField = function(new_field){
  $('#add-disease-field').modal('hide');


  $scope.selected_disease[$scope.new_field.label] = $scope.new_field.value;

$scope.new_field = {};
$scope.updaterecord();
};


});

app.factory('datasrc',function($http){

    var base_url = "/admin/patient/";

    return {

      get:function(id){

        var req = $http({
          method:"get",
          url:base_url+id
          //params:para
        });
        return req;
      },
      update:function(data){

        var req = $http({
          method:"put",
          url:base_url+data['_id'],
          data:data

        });
        return req;
      }



    };




});




</script>
